.vscode/
poky/
meta-ti/
meta-arm/
meta-qt5
meta-openembedded
build/tmp/
build/cache/
build/bitbake-cookerdaemon.log
build/CMakeFiles/
build/.cmake/
build/CMakeCache.txt
downloads/
sstate-cache/
*.pyc
__pycache__/
meta-bbb-custom/recipes-apps/bbb-dashboard/files/build/
